.App {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-color: #181824;
}

.App__todo {
  height: 28rem;
  width: 28rem;
}

.App__input-wrapper {
  display: flex;
  align-items: center;
  width: 100%;
  height: 2.5rem;
  background-color: #25253c;
  border-radius: 15px;
  overflow: hidden;
}

.App__input {
  flex: 1;
  outline: none;
  border: none;
  padding-right: 1rem;
  padding-left: 1rem;
  font-size: 1rem;
  background-color: transparent;
  color: white;
}

.App__input-button {
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 100%;
  display: flex;
  background-color: #4ec032;
  color: white;
  cursor: pointer;
}

.App__todolist {
  background-color: #25273c;
  height: 100%;
  margin-top: 2rem;
  overflow: auto;
}

.empty {
  color: white;
  text-align: center;
  margin-top: 6rem;
  font-size: 1.5rem;
}
